*.com
*.class
*.dll
*.o
*.so
*.pyc
/.idea
*.7z
*.dmg
*.gz
*.iso
*.rar
#*.tar
*.zip
*.log
*.sqlite
.DS_Store
ehthumbs.db
Icon
Thumbs.db
.tmtags
.idea
tags
vendor.tags
tmtagsHistory
*.sublime-project
*.sublime-workspace
.bundle
*.html
